TOPSTSCHOOL-air-quality.code-workspace
.Rproj.user
TOPSTSCHOOL-air-quality.Rproj

/.quarto/
.Rhistory
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019.tfw
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019.tif
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019.tif.aux.xml
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019.tif.ovr
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019.tif.xml
data/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-2019-geotiff/sdei-global-annual-gwr-pm2-5-modis-misr-seawifs-aod-v4-gl-03-documentation.pdf
tri_air_release_kriged_full.tif
tri_air_release_kriged_masked.tif
tri_air_release_kriged.tif
tri_air_release_log.tif
tri_air_release_summed.tif
tri_air_release.tif
tri_density.tif
tri_form_a
data/svi/svi_2020_tract_household_wgs84_nopop.tif
data/svi/svi_2020_tract_household_wgs84.tif
data/svi/svi_2020_tract_housing_wgs84_nopop.tif
data/svi/svi_2020_tract_housing_wgs84.tif
data/svi/svi_2020_tract_minority_wgs84_nopop.tif
data/svi/svi_2020_tract_minority_wgs84.tif
data/svi/svi_2020_tract_overall_wgs84_nopop.tif
data/svi/svi_2020_tract_overall_wgs84.tif
data/svi/svi_2020_tract_socioeconomic_wgs84_nopop.tif
data/svi/svi_2020_tract_socioeconomic_wgs84.tif
